// ====================================================================
// Colors
// ====================================================================
$bg-color: #f1f1f1; // Cor Background
$base-color: #000; // Cor Base

//Cores
$color: #ffffff;
$color-white: #ffffff;
$color-blue: #3958BD;
$color-light-blue: #466795;
$color-lightgreen: #A3C7A1;
$color-green: #009850;
$color-darkgreen: #245825;
$color-gray: #757575;
$color-dark: #2E2E2E;
$color-black: #000000;
$color-purple: #633758;


//Text
$text-color-white: $color-white;
$text-color-gray: $color-gray;
$text-color-blue: $color-blue;
$text-color-dark: $color-dark;
$text-color-black: $color-black;

//Background
$bg-color-white: $color-white;
$bg-color-gray: #F8F9F5;
$bg-color-blue: $color-blue;
$bg-color-lightgreen: $color-lightgreen;
$bg-color-green: $color-green;
$bg-color-darkgreen: $color-darkgreen;
$bg-color-light-blue: $color-light-blue;
$bg-color-purple: $color-purple;
$bg-color-black: $color-black;


//Theme
$color-theme: #ffffff; // Cor Tema
$color-primary: #337ab7; // Cor Primária
$color-success: #5cb85c; // Cor Sucesso
$color-danger: #d9534f; // Cor Danger
$color-alert: #ff5722; // Cor Alert

//Button
$btn-color: #ffffff; // Cor Botoes 01
$btn-primary: #337ab7; // Cor Botão Primário
$btn-success: #5cb85c; // Cor Botão Sucesso
$btn-danger: #d9534f; // Cor Botão Danger
$btn-danger: #ff5722; // Cor Botão Alert

//Form
$input-bg: #fafafa; // Cor Input
$input-border: #e6e6e6; // Cor Borda Input
$input-color: #292929; // Cor Borda Input
$input-focus-color: #555555; // Cor Borda Input
$form-focus-color: #66afe9;
$form-error-color: #dd1754;
$form-right-color: #4caf50;

$selection-bg: #ffffff; // Cor Background Selection
$selection-color: #555555; // Cor Selection

$mask-color: rgba(0, 0, 0, 0.5); // Modal Box
