// ====================================================================
// Imports
// ====================================================================

// -------------------------------------
// SETUP
// -------------------------------------
@import "@/styles/setup/reset/_reset";
@import "@/styles/setup/variables";

.box {
  // background-color: green;
  background-color: $primary;
  width: 100%;
  height: 200px;
}