<!doctype html>
<html prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
<!--<![endif]-->
<head>
    <!-- Head -->
    @@include('include/core/head.html')
    <!-- CSSs -->
    @@include('include/core/css.html')
    <!-- Metas Page -->
    <meta name="controller" content="Index" />
    <meta name="page" content="page" />
</head>
<body>
    <div class="wrapper">
        <!--  Header -->
        @@include('include/core/header.html')
        <!-- Home -->
        @@include('include/sections/home.html')
        <!--  Footer -->
        @@include('include/core/footer.html')
    </div>
    <!-- Modal -->
    @@include('include/modules/modal.html')
    <!-- Scripts -->
    @@include('include/core/scripts.html')
</body>
</html>